.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    background-color: white;
    margin: 0em 2em 0em 2em;
}

section {
    height: 100vh;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 4em;
}
.hero-heading-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
.hero-heading {
    text-align: left;
    line-height: 1.5em;
    font-size: 4em;
}
.framed {
    padding: 0.1em 0.6em;
    font-style: italic;
    border: 1px solid #131312;
    border-radius: 10px;
    background-color: #f8ff00;
    align-self: flex-start;
}
.box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid #131312;
}
.box:nth-child(1) {
    background-color: #f8ff00;
}
.flamingo {
    border-radius: 20px;
    position: relative;
    top: 1.5em;
    right: 1.5em;
    object-fit: cover;
    boxshadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.7);
}

.long-rectangle {
    width: 420px;
    height: 100px;
    background-color: #131312;
    position: relative;
    border-radius: 20px;
    color: white;
    padding: 1em;
    font-size: 1.1em;
    top: 1.5em;
    right: 1.5em;
    line-height: 1.2em;
}
.hero-subheading {
    width: 70%;
    font-size: 1.2em;
    margin-top: 2em;
    line-height: 1.3;
}
.num {
    font-size: 1.7em;
    /* font-family: ; */
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 0rem;
}
